<section class="row">
  <h3 class="center">Create an Account!</h3>
  <div class="col m8 offset-m2 col s12">
  <%= form_for @user, html: { multipart: true } do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :last_name, placeholder: "Last Name" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email, placeholder: "Email" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, placeholder: "Password"%>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          Current City:
          <div class="input-field inline">
            <%= f.text_field :current_city %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.file_field :photo %>
        </div>
      </div>
      <%= f.submit "Sign Up", class:"btn" %>
    <% end %>
  </div>
</section>
