<div class="row">
    <!-- PROFILE INFO -->
    <section class="col s6 offset-s3 m3 offset-m1">
        <div class="card">
          <%= image_tag @user.photo.thumb.url %>
            <div class="card-content teal white-text">
                <p>
                    Name:
                    <%= @user.first_name %>
                </p>
                <p>
                    Date joined:
                    <%= @user.created_at %>
                </p>
                <p>
                    Current city:
                    <%= @user.current_city %>
                </p>
                <p>
                  Score:
                  <%= @user.points %>
                </p>
                <p>Rank:
                  <% if @user.points < 51 %>
                  SCOUT
                  <% end %>
                </p>
            </div>
        </div>
        <%= button_tag "Edit", data:{target: "edit-profile-modal"}, class: "btn" %>
    </section>

    <!-- EDIT/DELETE PROFILE -->
    <section class="modal" id="edit-profile-modal">
      <%= render "forms/edit_profile" %>
    </section>
    <!--POST SECTION -->
    <section class="col s12 m7">
      <h3 class="header center"><%= @user.first_name %>'s posts</h3>
        <div class="row">
            <%= render "users/users_post" %>
        </div>
    </section>

</div>
