<div class="col s12 m4">
    <div class="card-panel grey lighten-5 z-depth-1">
        <span class="card-title center">

            BlazeDaddy12
            <%= image_tag "explorer.png", class: "responsive-img right" %>
            <hr >
        </span>
        <div class="row valign-wrapper">
            <div class="col s4">
                <%= image_tag "avatar.png", class: "responsive-img circle" %>
            </div>
            <div class="col s8">
                <span class="black-text">
                    <p>
                        <strong>
                            Points:
                        </strong>140</p>
                    <p>
                        <strong>
                            Rank:
                        </strong>Trailblazer</p>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card-panel grey lighten-5 z-depth-1">
        <span class="card-title center">

            BlazeDaddy12
            <%= image_tag "trailblazer.png", class: "responsive-img right" %>
            <hr >
        </span>
        <div class="row valign-wrapper">
            <div class="col s4">
                <%= image_tag "avatar.png", class: "responsive-img circle" %>
            </div>
            <div class="col s8">
                <span class="black-text">
                    <p>
                        <strong>
                            Points:
                        </strong>140</p>
                    <p>
                        <strong>
                            Rank:
                        </strong>Trailblazer</p>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col s12 m4">
    <div class="card-panel grey lighten-5 z-depth-1">
        <span class="card-title center">

            BlazeDaddy12
            <%= image_tag "trailblazer.png", class: "responsive-img right" %>
        </span>
        <hr >
        <div class="row valign-wrapper">
            <div class="col s4">
                <%= image_tag "avatar.png", class: "responsive-img circle" %>
            </div>
            <div class="col s8">
                <span class="black-text">
                    <p>
                        <strong>
                            Points:
                        </strong>140</p>
                    <p>
                        <strong>
                            Rank:
                        </strong>Trailblazer</p>
                </span>
            </div>
        </div>
    </div>
</div>
