<section class="row">
    <h1 class="center"><%= @city.name %></h1>
    <h5 class="center"><%= @city.description %></h5>
    <div class="parallax-container">
      <div class="parallax"><%= image_tag "san_fran.jpg" %></div>
    </div>
    <%= link_to "Add New Post", "#new-post" %>
    <h3>Posts from
        <%=@city.name %></h3>
    <% @city.posts.each do |post| %>
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <p><%= post.title %></p>
                <p><%= post.message %></p>
            </div>
        </div>
    </div>
    <% end %>
</section>

<div class="modal" id="new-post">
  <%= render "forms/new_post" %>
</div>
