<section class="row">
    <!-- CITY HEADER -->
    <div class="parallax-container">
        <div class="parallax"><%= image_tag @city.photo %></div>
        <h1 class="center white-text"><%= @city.name %></h1>
        <h5 class="center white-text"><%= @city.description %></h5>
    </div>
      <% if current_user %>
      <%= link_to "Add New Post", "#new-post", class:"btn right blue lighten waves-light" %>
      <% end %>

    <h3>Posts from
        <%=@city.name %></h3>
    <hr >

    <% @city.posts.sort_by(&:created_at).reverse.each do |post| %>
    <section class="container">
        <div class="card-panel blue lighten-5 z-depth-1">
            <span class="card-title center">
                <div class="chip">
                    <%= image_tag post.user.photo.thumb, class: "responsive-img " %>
                    <%= link_to "#{post.user.username}", user_path(post.user_id) %>
                </div>
                <%= link_to "#{post.title}", user_post_path(post.user, post), class: "center" %>
                <%= image_tag city_user_rank(post.user), class: "responsive-img right" %>
                <hr >
                <% if current_user == post.user %>
                <%= button_tag "Edit", data:{target: "edit-profile-modal"}, class: "btn" %>
                <% end %>
            </span>

        </div>
    </section>
    <% end %>
</section>

<!-- NEW POST MODAL -->
<div class="modal" id="new-post">
    <%= render "forms/new_post" %>
</div>
<section class="modal" id="edit-profile-modal">
  <%= render "forms/edit_profile" %>
</section>
