<!DOCTYPE html>
<html>
    <head>
        <title>Trailblazer</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>
        <nav class="green accent-3">
          <%= link_to "Trailblazer", "/", class: "brand-logo left" %>
            <ul class="nav-wrapper right">
                <li>
                  <%= link_to "Home", "/" %>
                </li>
                <li>
                  <%= link_to "Users", users_path %>
                </li>
                <li>
                    <%= link_to "Cities",  cities_path %>
                </li>
                <% if current_user %>
                <li>
                    <%= link_to "Profile", user_path(current_user) %>
                </li>
                <li>
                    <%= link_to "Log Out", logout_path %>
                </li>
            <% else %>
                <li>
                    <%=link_to "Log In", "#login"%>
                </li>
                <li>
                    <%=link_to "Sign Up", "#signup"%>
                </li>
                <% end %>
            </ul>
        </nav>

        <% if flash[:sign_in_error] %>
        <script type="text/javascript">
            $(window).load(function () {
                console.log("script working")
                $('#signup').modal('open')
            });
        </script>
        <% end %>

        <%= yield %>
        <!-- Modal Structure -->
        <div id="login" class="modal">
            <%= render "forms/login" %>
        </div>
        <div id="signup" class="modal">
            <%= render "forms/signup" %>
        </div>
    </body>
</html>
