<!DOCTYPE html>
<html>
    <head>
        <title>Trailblazer</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>
        <header class="row">
            <nav class="right-align green accent-3">
                <a href="/" class="left">TrailBlazer</a>
                <%= link_to "Cities",  cities_path %>
                <% if current_user %>
                <%= link_to "Profile", user_path(current_user) %>
                <%= link_to "Log Out", logout_path %>
            <% else %>
                <%=link_to "Log In", "#login"%>
                <%=link_to "Sign Up", "#signup"%>
                <% end %>
            </nav>
        </header>

        <% if flash[:sign_up_error] %>
        <script type="text/javascript">
            $(window).load(function () {
                console.log("script working")
                $('#signup').modal('open')
            });
        </script>
        <% end %>

        <%= yield %>
        <!-- Modal Structure -->
        <div id="login" class="modal">
            <%= render "forms/login" %>
        </div>
        <div id="signup" class="modal">
            <%= render "forms/signup" %>
        </div>
    </body>
</html>
